#result-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: Georgia, serif;
  color: #1a2e57; 
}

#imc-number {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
  color: #1a2e57; 
}

#imc-info {
  font-size: 1.4rem;
  color: #1a2e57; 
}

#result-container h3 {
  margin-top: 1rem;
  color: #1a2e57; 
}

#imc-table {
  margin: 1.5rem 0;
  font-size: 0.8rem;
  color: #1a2e57; }

.table-header {
  font-weight: bold;
  color: #1a2e57; 
}

.table-header,
.table-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #444;
  text-align: center;
}

.table-header h4,
.table-data p {
  flex: 1;
  color: #1a2e57; 
}

.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
  max-width: 80px;
}

#back-btn {
  align-self: center;
}


.good {
  color: #12db34;
}

.low {
  color: #dbce12;
}

.medium {
  color: #db6212;
}

.high {
  color: #db1912;
}
