*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body{
  background-color: #427689;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}
.intro-text {
  font-family: Georgia, serif;
  font-size: 1rem;
  text-align: center;
  color: #fff; 
  margin: 2rem auto 1rem auto;
  max-width: 600px;
  animation: fadeInSlide 1.2s ease-in-out;
  font-size: 40px;
}


@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9fbff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
